a:hover{
    cursor: pointer;
}

h1, p{
    text-align: center;
   
}

main{
    margin: 20%;
    border: solid ;

}




#nav{
    display: flex;
    gap: 8px;
    justify-content: space-around;
   
}